<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Indonesia Community</h2>
      <ul>
        <li>
          <a [href]="'https://discord.gg/qXaQrr24'" target="_blank" 
          title="Join the discussions at Angular Community Discord server.">Discord</a>
        </li>
        <li>
          <a [href]="'https://t.me/AngularID'" title="Telegram" target="_blank" >Telegram</a>
        </li>
        <li>
          <a [href]="'https://www.facebook.com/groups/462764390497214'" title="Facebook" target="_blank" >Facebook</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Social Media</h2>
      <ul>
        <li>
          <a [href]="MEDIUM" title="Angular blog">Blog</a>
        </li>
        <li>
          <a [href]="X" title="X (formerly Twitter)">X (formerly Twitter)</a>
        </li>
        <li>
          <a [href]="YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a
            href="https://discord.gg/angular"
            title="Join the discussions at Angular Community Discord server."
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a
            href="https://stackoverflow.com/questions/tagged/angular"
            title="Stack Overflow: where the community answers your technical Angular questions."
          >
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Community</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md"
            target="_blank" 
            title="Contribute to Angular"
          >
            Contribute
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            target="_blank" 
            title="Treating each other with respect."
          >
            Code of Conduct
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/angular/issues"
            target="_blank" 
            title="Post issues and suggestions on github."
          >
            Report Issues
          </a>
        </li>
        <li>
          <a
            href="https://devlibrary.withgoogle.com/products/angular?sort=updated"
            target="_blank" 
            title="Google's DevLibrary"
          >
            Google's DevLibrary
          </a>
        </li>
        <li>
          <a
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            target="_blank" 
            title="Angular Google Developer Experts"
          >
            Angular Google Developer Experts
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Resources</h2>
      <ul>
        <li>
          <a href="https://angular.dev/press-kit"
          target="_blank"  title="Press contacts, logos, and branding.">Press Kit</a>
        </li>
        <li>
          <a href="https://angular.dev/roadmap"
          target="_blank"  title="Roadmap">Roadmap</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Super-powered by Google ©2010-2024. Code licensed under an
    <a href="https://angular.dev/license" target="_blank" title="License text">MIT-style License</a>
    . Documentation licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    .
  </p>
</div>
